body{
    margin: 0;
    background-color: white;
    background-image: url(images/Untitled_Artwork.jpg);
    
    font-family:Arial, Helvetica, sans-serif;
}
.left{
    padding-left: 25px;
    padding-top: 0px;
}
.right{
    float: right;
    padding-right: 25px;
    padding-top: 0px;
}
.hero{
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
}

.row{
    padding-top: 25px;
    display: flex;
}

.column {
    flex: 50%;
}
.slider{
    position: relative;
    width: 75%;
    margin: auto;
    overflow: hidden;

}
.slider img{
    width: 75%;
    display: none;
}
img.displaySlide{
    display: block;
}
